h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.header {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #008aff; }
  @media screen and (max-width: 1180px) {
    .header {
      padding-left: 20px;
      padding-right: 20px; } }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    margin-right: 78px; }
  .header__link {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    position: relative;
    display: inline-block;
    margin-left: auto;
    line-height: 150%;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none; }
    .header__link:hover {
      color: #ff9c8e; }
      .header__link:hover::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 30px;
        background: #ff9c8e;
        border-radius: 4px; }
    @media screen and (max-width: 1180px) {
      .header__link {
        display: none; } }
  .header__span, .header__span::before, .header__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .header__span::before {
    content: "";
    top: -8px; }
  .header__span::after {
    content: "";
    top: 8px; }
  .header__toggle {
    opacity: 0;
    position: absolute;
    top: -100%; }
    .header__toggle:checked ~ .header__btn > .header__span {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header__toggle:checked ~ .header__btn > .header__span::before {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    .header__toggle:checked ~ .header__btn > .header__span::after {
      top: 0;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .header__toggle:checked ~ .nav__list {
      visibility: visible;
      top: 40px; }
  .header__btn {
    display: none; }
    @media screen and (max-width: 970px) {
      .header__btn {
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        margin: 20px auto 0;
        right: 50px;
        top: 35px;
        cursor: pointer;
        z-index: 3; } }

.container {
  max-width: 1146px;
  margin: 0 auto; }

.nav {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    @media screen and (max-width: 970px) {
      .nav__list {
        display: none;
        -webkit-box-align: left;
            -ms-flex-align: left;
                align-items: left; } }
  .nav__item {
    margin-right: 64px; }
    .nav__item:focus {
      margin-right: 60px; }
  .nav__link {
    position: relative;
    text-decoration: none;
    color: #fff; }
    .nav__link:hover {
      color: #ff8675;
      -webkit-transition: 1s;
      transition: 1s; }
      .nav__link:hover::after {
        content: "";
        position: absolute;
        left: 0;
        top: 30px;
        width: 100%;
        height: 2px;
        background: #ff8675;
        border-radius: 4px; }
      .nav__link:hover::before {
        content: "";
        position: absolute;
        left: 0;
        top: -10px;
        width: 100%;
        height: 2px;
        background: #ff8675;
        border-radius: 4px; }

.infoblock {
  position: relative;
  height: 680px;
  color: #fff;
  background-color: #008aff;
  border-radius: 0 0 0 200px; }
  @media screen and (max-width: 1180px) {
    .infoblock {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 730px) {
    .infoblock {
      padding-left: 20px;
      padding-right: 20px;
      height: 560px;
      border-radius: 0; } }
  .infoblock__company-info {
    position: absolute;
    bottom: 205px;
    max-width: 362px; }
    @media screen and (max-width: 730px) {
      .infoblock__company-info {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        margin: 0 auto;
        bottom: 0; } }
  .infoblock__company-title {
    margin: 0;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 106%;
    letter-spacing: -2px; }
    @media screen and (max-width: 440px) {
      .infoblock__company-title {
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 106%;
        text-align: center;
        letter-spacing: -2px; } }
  .infoblock__company-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    margin-top: 32px; }
    @media screen and (max-width: 440px) {
      .infoblock__company-text {
        margin-top: 15px;
        font-size: 14px;
        line-height: 150%;
        text-align: center; } }
  .infoblock__button {
    margin-top: 83px;
    height: 50px; }
    @media screen and (max-width: 730px) {
      .infoblock__button {
        margin-top: 15px; } }

.button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  width: 226px;
  background: #ff9c8e;
  border-radius: 64px;
  border: 2px solid #ff9c8e;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1);
  line-height: 22px;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .button:hover {
    background: #ff8675;
    border: 2px solid #ff8675;
    -webkit-box-shadow: 0 10px 15px rgba(37, 41, 49, 0.7);
            box-shadow: 0 10px 15px rgba(37, 41, 49, 0.7);
    cursor: pointer; }

.slider {
  position: absolute;
  width: 43%;
  height: 680px;
  right: 0;
  bottom: 0;
  background-image: url(../images/slider/slide_1.jpg);
  background-repeat: no-repeat;
  border-radius: 200px 0 0;
  color: #fff; }
  @media screen and (max-width: 730px) {
    .slider {
      position: relative;
      width: auto;
      height: 200px;
      border-radius: 75px 0;
      margin-top: 20px; } }
  .slider__arrow-left {
    position: absolute;
    left: 48px;
    bottom: 66px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    background-image: url(../images/slider/arrow-left.svg);
    background-size: 10px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .slider__arrow-left:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0.5;
      cursor: pointer; }
  .slider__arrow-right {
    position: absolute;
    left: 88px;
    bottom: 66px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    background-image: url(../images/slider/arrow-right.svg);
    background-size: 10px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .slider__arrow-right:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0.5;
      cursor: pointer; }
  .slider__title {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    left: 144px;
    bottom: 96px; }
    @media screen and (max-width: 440px) {
      .slider__title {
        display: block;
        position: relative;
        text-align: center;
        padding-left: 20px;
        left: 0;
        bottom: 0; } }
  .slider__text {
    position: absolute;
    width: 264px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 140%;
    left: 144px;
    bottom: 48px; }
    @media screen and (max-width: 440px) {
      .slider__text {
        display: block;
        position: relative;
        text-align: center;
        margin: 0 auto;
        left: 0;
        bottom: 0; } }

.aboutus__info {
  display: block;
  max-width: 754px;
  margin: 0 auto;
  margin-top: 148px; }
  @media screen and (max-width: 970px) {
    .aboutus__info {
      margin-top: 28px; } }

.aboutus__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  color: #253757; }
  @media screen and (max-width: 970px) {
    .aboutus__title {
      font-size: 24px;
      padding-left: 20px; } }
  @media screen and (max-width: 730px) {
    .aboutus__title {
      font-size: 18px; } }

.aboutus__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #6c788b;
  margin-bottom: 148px; }
  @media screen and (max-width: 970px) {
    .aboutus__text {
      font-size: 16px;
      margin-bottom: 28px;
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 730px) {
    .aboutus__text {
      font-size: 14px; } }

.expertise {
  height: 759px;
  background-color: #fff; }
  @media screen and (max-width: 1180px) {
    .expertise {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 970px) {
    .expertise {
      height: auto; } }
  .expertise__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    text-align: center;
    padding-top: 128px;
    margin-bottom: 64px;
    margin-top: 0; }
    @media screen and (max-width: 970px) {
      .expertise__title {
        padding-top: 20px;
        margin-bottom: 32px; } }
    @media screen and (max-width: 730px) {
      .expertise__title {
        font-size: 25px;
        margin-bottom: 12px; } }
  .expertise__grid {
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 177px; }
    @media screen and (max-width: 970px) {
      .expertise__grid {
        grid-gap: 60px;
        margin: 0 20px; } }
    @media screen and (max-width: 730px) {
      .expertise__grid {
        grid-template-columns: 1fr;
        grid-gap: 20px; } }
  .expertise__column {
    display: grid; }
  .expertise__img {
    justify-self: center;
    width: 166px;
    height: 166px;
    border-radius: 12%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .expertise__img:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      cursor: pointer; }
  .expertise__sub-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #253757; }
    @media screen and (max-width: 730px) {
      .expertise__sub-title {
        margin: 15px;
        line-height: 100%; } }
  .expertise__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6c788b; }

.service__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media screen and (max-width: 1180px) {
    .service__grid {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 970px) {
    .service__grid {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px; } }
  @media screen and (max-width: 730px) {
    .service__grid {
      padding-top: 220px; } }

.service__info {
  display: grid;
  padding-top: 250px; }
  @media screen and (max-width: 1180px) {
    .service__info {
      padding-top: 20px; } }
  @media screen and (max-width: 970px) {
    .service__info {
      padding-left: 20px;
      padding-right: 20px;
      height: auto;
      display: block; } }

.service__sub-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 16px;
  line-height: 150%;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7; }

.service__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  padding-bottom: 24px;
  line-height: 150%;
  color: #253757; }

.service__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  height: 105px;
  width: 362px;
  padding-bottom: 250px;
  line-height: 150%;
  color: #6c788b; }
  @media screen and (max-width: 1180px) {
    .service__text {
      padding-bottom: 20px; } }
  @media screen and (max-width: 730px) {
    .service__text {
      height: 100%;
      line-height: 100%;
      padding-bottom: 20px; } }

.service__columns {
  display: grid;
  grid-template-columns: repeat(2, 264px);
  grid-template-rows: repeat(2, 264px);
  grid-gap: 30px;
  padding-top: 148px; }
  @media screen and (max-width: 1180px) {
    .service__columns {
      padding-top: 20px;
      padding-bottom: 20px; } }
  @media screen and (max-width: 930px) {
    .service__columns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      padding-top: 20px; } }
  @media screen and (max-width: 600px) {
    .service__columns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 0; } }

.service__locker {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 264px;
  height: 264px;
  padding-left: 32px;
  padding-top: 32px;
  background: #fff;
  border-radius: 24px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03); }
  @media screen and (max-width: 600px) {
    .service__locker {
      margin-bottom: 10px; } }

@media screen and (max-width: 600px) and (max-width: 600px) {
  .service__locker {
    margin-bottom: 10px; } }
  @media screen and (max-width: 600px) {
    .service__locker:hover {
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1); } }

.service__locker--1, .service__locker--3 {
  z-index: 999;
  top: 132px; }
  @media screen and (max-width: 600px) {
    .service__locker--1, .service__locker--3 {
      position: static; } }

.service__locker-title {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin: 0;
  width: 46px;
  height: 24px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase; }

.service__locker-title--1 {
  color: #56ccf2;
  background-color: rgba(86, 204, 242, 0.1);
  border-radius: 23px; }

.service__locker-title--2 {
  color: #fcc91d;
  background-color: rgba(252, 201, 29, 0.1);
  border-radius: 23px; }

.service__locker-title--3 {
  color: #15d850;
  background-color: rgba(21, 216, 80, 0.1);
  border-radius: 23px; }

.service__locker-title--4 {
  color: #f36363;
  background-color: rgba(243, 99, 99, 0.1);
  border-radius: 23px; }

.service__locker-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  width: 200px;
  height: 80px;
  margin: 0;
  line-height: 150%;
  color: #6c788b;
  padding-top: 24px;
  padding-bottom: 32px; }

.service__locker-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.service__locker-arrow {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }
  .service__locker-arrow:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer; }

.service__arrow-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.service__locker-arrow--1 {
  background-color: #56ccf2; }

.service__locker-arrow--2 {
  background-color: #fcc91d; }

.service__locker-arrow--3 {
  background-color: #15d850; }

.service__locker-arrow--4 {
  background-color: #f36363; }

.service__locker-link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  margin: auto 16px;
  text-decoration: none;
  line-height: 150%;
  color: #334563; }

.service__locker-link--1:hover {
  color: #56ccf2; }

.service__locker-link--2:hover {
  color: #fcc91d; }

.service__locker-link--3:hover {
  color: #15d850; }

.service__locker-link--4:hover {
  color: #f36363; }

.aproach {
  max-width: 1600px;
  margin: 0 auto; }
  .aproach__clipped {
    position: relative;
    height: 976px;
    margin-left: 121px;
    border-radius: 200px 0 0 200px;
    background: #ff9c8e; }
    @media screen and (max-width: 970px) {
      .aproach__clipped {
        height: auto;
        margin-left: 0;
        border-radius: 0; } }
  .aproach__info {
    padding-top: 204px; }
    @media screen and (max-width: 970px) {
      .aproach__info {
        padding-top: 20px; } }
  .aproach__sub-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    padding-left: 204px;
    padding-bottom: 16px;
    margin: 0;
    line-height: 150%;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase; }
    @media screen and (max-width: 970px) {
      .aproach__sub-title {
        padding-left: 20px;
        padding-right: 20px; } }
  .aproach__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    padding-left: 204px;
    padding-bottom: 32px;
    margin: 0;
    width: 362px;
    height: 96px;
    line-height: 150%;
    color: #fff; }
    @media screen and (max-width: 970px) {
      .aproach__title {
        padding-left: 20px;
        padding-right: 20px; } }
  .aproach__ul {
    margin: 0;
    padding-left: 204px; }
    @media screen and (max-width: 970px) {
      .aproach__ul {
        padding-left: 20px;
        padding-right: 20px; } }
  .aproach__li {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    width: 263px;
    height: 92px;
    padding-left: 94px;
    padding-bottom: 64px;
    line-height: 150%;
    color: #fff; }
    @media screen and (max-width: 440px) {
      .aproach__li {
        padding-left: 20px; } }
  .aproach__li--1 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-1.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px; }
    @media screen and (max-width: 440px) {
      .aproach__li--1 {
        background-image: none; } }
  .aproach__li--2 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-2.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px; }
    @media screen and (max-width: 440px) {
      .aproach__li--2 {
        background-image: none; } }
  .aproach__li--3 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-3.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px; }
    @media screen and (max-width: 440px) {
      .aproach__li--3 {
        background-image: none; } }
  .aproach__image {
    position: absolute;
    bottom: 0;
    left: 793px;
    border-radius: 200px 0 0; }
    @media screen and (max-width: 970px) {
      .aproach__image {
        display: none; } }

.people {
  max-width: 1146px;
  margin: 0 auto; }
  @media screen and (max-width: 1180px) {
    .people {
      padding-left: 20px;
      padding-right: 20px; } }
  .people__sub-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    padding-top: 148px;
    padding-bottom: 16px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .people__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    width: 362px;
    height: 96px;
    margin: 0;
    padding-bottom: 85px;
    line-height: 150%;
    color: #253757; }
    @media screen and (max-width: 970px) {
      .people__title {
        padding-bottom: 10px; } }
  .people__grid {
    display: grid;
    grid-template-columns: repeat(3, 314px);
    grid-template-rows: 494px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-gap: 102px;
    padding-bottom: 168px; }
    @media screen and (max-width: 1180px) {
      .people__grid {
        grid-gap: 5px; } }
    @media screen and (max-width: 970px) {
      .people__grid {
        display: block;
        padding-bottom: 10px; } }
  .people__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    @media screen and (max-width: 970px) {
      .people__card {
        margin-bottom: 10px; } }
  .people__rectangle {
    width: 139px;
    height: 56px;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
    @media screen and (max-width: 970px) {
      .people__rectangle {
        display: none; } }
    .people__rectangle:nth-child(1) {
      position: absolute;
      top: 81px;
      left: 38px; }
    .people__rectangle:nth-child(3) {
      position: absolute;
      top: 181px;
      left: 138px; }
  .people__card:hover {
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1); }
    .people__card:hover .people__rectangle:nth-child(1) {
      top: 60px;
      left: 14px; }
    .people__card:hover .people__rectangle:nth-child(3) {
      top: 201px;
      left: 159px; }
  .people__rectangle--1 {
    background: #56ccf2; }
  .people__rectangle--2 {
    background: #fcc304; }
  .people__rectangle--3 {
    background: #f25656; }
  .people__image {
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 87px;
    z-index: 2;
    border-radius: 50%; }
  .people__quot {
    padding-top: 82px;
    padding-bottom: 11px; }
    @media screen and (max-width: 970px) {
      .people__quot {
        padding-top: 11px; } }
  .people__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    width: 250px;
    height: 64px;
    margin: 0 auto;
    padding-bottom: 16px;
    line-height: 150%;
    text-align: center;
    color: #6c788b; }
  .people__name {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin: 0;
    padding-bottom: 4px;
    line-height: 150%;
    text-align: center;
    color: #253757; }
  .people__place {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    line-height: 150%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }

.apply {
  position: relative;
  background-color: #fff;
  height: 690px; }
  .apply__wrap {
    position: relative;
    max-width: 1600px; }
  .apply__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    position: relative;
    padding-top: 199px;
    line-height: 150%;
    text-align: center;
    color: #253757;
    z-index: 2; }
    @media screen and (max-width: 730px) {
      .apply__title {
        padding-left: 20px;
        padding-right: 20px; } }
  .apply__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    position: relative;
    margin: 0 auto;
    padding-top: 24px;
    line-height: 150%;
    color: #6c788b;
    text-align: center;
    z-index: 2; }
    @media screen and (max-width: 730px) {
      .apply__text {
        padding-left: 20px;
        padding-right: 20px; } }
  .apply__invite {
    position: relative;
    margin: 0 auto;
    padding-top: 79px;
    width: 226px;
    height: 56px;
    z-index: 3; }
    @media screen and (max-width: 440px) {
      .apply__invite {
        padding-top: 10px; } }
  .apply__button {
    position: relative;
    height: 56px;
    z-index: 2; }
  .apply__rectangle {
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    z-index: 1; }
    .apply__rectangle:nth-child(1) {
      width: 67px;
      height: 27px;
      left: 5%;
      top: 53%;
      border: 4px solid #ace6f9; }
    .apply__rectangle:nth-child(2) {
      width: 94px;
      height: 37px;
      left: 8.2%;
      top: 74%;
      border: 4px solid #e18efe; }
    .apply__rectangle:nth-child(3) {
      width: 143px;
      height: 57px;
      left: 17%;
      top: 40.5%;
      border: 4px solid #82eaa1; }
    .apply__rectangle:nth-child(4) {
      width: 86px;
      height: 34px;
      left: 17%;
      top: 10.3%;
      border: 4px solid #f9abab; }
    .apply__rectangle:nth-child(5) {
      width: 45px;
      height: 18px;
      left: 28%;
      top: 11%;
      border: 4px solid #fee595; }
    .apply__rectangle:nth-child(6) {
      width: 45px;
      height: 18px;
      left: 30%;
      top: 66.5%;
      border: 4px solid #fee595; }
    .apply__rectangle:nth-child(7) {
      width: 45px;
      height: 18px;
      left: 63.3%;
      top: 82%;
      border: 4px solid #e18efe; }
    .apply__rectangle:nth-child(8) {
      width: 86px;
      height: 34px;
      left: 76%;
      top: 55%;
      border: 4px solid #f9abab; }
    .apply__rectangle:nth-child(9) {
      width: 143px;
      height: 57px;
      left: 80%;
      top: 19%;
      border: 4px solid #82eaa1; }
    .apply__rectangle:nth-child(10) {
      width: 154px;
      height: 61px;
      left: 83.5%;
      top: 59%;
      border: 4px solid #b0e7f9; }
    .apply__rectangle:nth-child(11) {
      width: 86px;
      height: 34px;
      left: 90.5%;
      top: 16%;
      border: 4px solid #e089fe; }
    .apply__rectangle:nth-child(12) {
      width: 86px;
      height: 34px;
      left: 91.6%;
      top: 39%;
      border: 4px solid #fee595; }

.footer {
  position: relative;
  height: 867px;
  color: #fff;
  background-color: #008aff;
  border-radius: 0 200px 0 0; }
  @media screen and (max-width: 1180px) {
    .footer {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 730px) {
    .footer {
      padding-left: 20px;
      padding-right: 20px;
      height: 560px;
      border-radius: 0; } }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 226px;
    padding-top: 180px;
    padding-bottom: 120px; }
    @media screen and (max-width: 1180px) {
      .footer__grid {
        grid-gap: 20px;
        padding-right: 20px; } }
    @media screen and (max-width: 970px) {
      .footer__grid {
        height: auto;
        grid-template-columns: 1fr;
        padding-top: 20px;
        padding-bottom: 20px; } }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 460px;
    height: 475px; }
    @media screen and (max-width: 740px) {
      .footer__form {
        height: auto; } }
  .footer__form-rows {
    padding-top: 56px; }
    @media screen and (max-width: 740px) {
      .footer__form-rows {
        padding-top: 5px; } }
  .footer__form-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    line-height: 150%;
    color: #fff; }
    @media screen and (max-width: 740px) {
      .footer__form-title {
        font-size: 18px; } }
  .footer__form-input {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    height: 41px;
    margin-bottom: 48px;
    background: #008aff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    line-height: 22px;
    color: #fff; }
    .footer__form-input::-webkit-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer__form-input::-moz-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer__form-input:-ms-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer__form-input::-ms-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer__form-input::placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer__form-input:focus {
      color: #fff;
      opacity: 1;
      border-bottom: 2px solid #fff;
      outline: none; }
    @media screen and (max-width: 740px) {
      .footer__form-input {
        margin-bottom: 5px;
        width: auto; } }
  .footer__button {
    position: relative;
    height: 56px;
    top: 32px; }
    @media screen and (max-width: 970px) {
      .footer__button {
        top: 10px; } }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 362px;
    height: 415px; }
    @media screen and (max-width: 740px) {
      .footer__contacts {
        padding-top: 25px;
        height: auto; } }
  .footer__contact-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    padding-bottom: 56px;
    line-height: 150%;
    color: #fff; }
    @media screen and (max-width: 970px) {
      .footer__contact-title {
        font-size: 20px;
        padding-bottom: 10px; } }
  .footer__contact-subtitle {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    padding-bottom: 8px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5; }
    @media screen and (max-width: 970px) {
      .footer__contact-subtitle {
        font-size: 12px; } }
  .footer__contact-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    padding-bottom: 48px;
    line-height: 150%;
    color: #fff; }
    @media screen and (max-width: 970px) {
      .footer__contact-text {
        font-size: 18px;
        padding-bottom: 10px; } }
  .footer__wrap {
    display: inline-block;
    padding-top: 16px; }
  .footer__link {
    padding-right: 32px; }
  .footer__img {
    width: 32px;
    height: 32px; }
    .footer__img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      border-radius: 50%;
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.5);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.5); }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 1080px) {
      .footer__menu {
        display: none; } }
  .footer__logo {
    width: 44.82px;
    height: 25.63px;
    margin: 0;
    padding-right: 463px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

.main {
  background: #f2f9ff; }

a {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
