h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.header {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #008aff; }
  @media screen and (max-width: 1180px) {
    .header {
      padding-left: 20px;
      padding-right: 20px; } }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    margin-right: 78px; }
  .header__link {
    position: relative;
    display: inline-block;
    margin-left: auto;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 150%;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none; }
    .header__link:hover {
      color: #ff9c8e; }
      .header__link:hover::after {
        content: "";
        position: absolute;
        left: 0;
        top: 30px;
        width: 100%;
        height: 2px;
        background: #ff9c8e;
        border-radius: 4px; }
    @media screen and (max-width: 1180px) {
      .header__link {
        display: none; } }
  .header__span, .header__span::before, .header__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s; }
  .header__span::before {
    content: "";
    top: -8px; }
  .header__span::after {
    content: "";
    top: 8px; }
  .header__toggle {
    opacity: 0;
    position: absolute;
    top: -100%; }
    .header__toggle:checked ~ .header__btn > .header__span {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header__toggle:checked ~ .header__btn > .header__span::before {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0); }
    .header__toggle:checked ~ .header__btn > .header__span::after {
      top: 0;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .header__toggle:checked ~ .nav__list {
      visibility: visible;
      top: 40px; }
  .header__btn {
    display: none; }
    @media screen and (max-width: 970px) {
      .header__btn {
        display: block;
        position: relative;
        margin: 20px auto 0;
        right: 50px;
        top: 35px;
        width: 40px;
        height: 30px;
        cursor: pointer;
        z-index: 3; } }

.container {
  max-width: 1146px;
  margin: 0 auto; }

.nav {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    @media screen and (max-width: 970px) {
      .nav__list {
        display: none;
        -webkit-box-align: left;
            -ms-flex-align: left;
                align-items: left; } }
  .nav__item {
    margin-right: 64px; }
    .nav__item:focus {
      margin-right: 60px; }
  .nav__link {
    position: relative;
    text-decoration: none;
    color: #fff; }
    .nav__link:hover {
      color: #ff9c8e; }
      .nav__link:hover::after {
        content: "";
        position: absolute;
        left: 0;
        top: 30px;
        width: 100%;
        height: 2px;
        background: #ff9c8e;
        border-radius: 4px; }
      .nav__link:hover::before {
        content: "";
        position: absolute;
        left: 0;
        top: -10px;
        width: 100%;
        height: 2px;
        background: #ff9c8e;
        border-radius: 4px; }

.infoblock {
  position: relative;
  height: 680px;
  color: #fff;
  background-color: #008aff;
  border-radius: 0 0 0 200px; }
  @media screen and (max-width: 1180px) {
    .infoblock {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 730px) {
    .infoblock {
      height: 560px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 0; } }
  .infoblock__company-info {
    position: absolute;
    bottom: 205px;
    max-width: 362px; }
    @media screen and (max-width: 730px) {
      .infoblock__company-info {
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        margin: 0 auto;
        bottom: 0; } }
  .infoblock__company-title {
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 106%;
    letter-spacing: -2px;
    margin: 0; }
    @media screen and (max-width: 440px) {
      .infoblock__company-title {
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 106%;
        text-align: center;
        letter-spacing: -2px; } }
  .infoblock__company-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin-top: 32px; }
    @media screen and (max-width: 440px) {
      .infoblock__company-text {
        font-size: 14px;
        line-height: 150%;
        margin-top: 15px;
        text-align: center; } }
  .infoblock__button {
    margin-top: 83px;
    height: 50px; }
    @media screen and (max-width: 730px) {
      .infoblock__button {
        margin-top: 15px; } }

.button {
  width: 226px;
  background: #ff9c8e;
  border-radius: 64px;
  border: 2px solid #ff9c8e;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 146%;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .button:hover {
    border: 4px solid #ff9c8e;
    background: #fff;
    color: #ff9c8e;
    cursor: pointer; }

.slider {
  position: absolute;
  width: 43%;
  height: 680px;
  right: 0;
  bottom: 0;
  background-image: url(../images/slider/slider1.png);
  background-repeat: no-repeat;
  border-radius: 200px 0 0;
  color: #fff; }
  @media screen and (max-width: 730px) {
    .slider {
      position: relative;
      width: auto;
      height: 200px;
      border-radius: 75px 0;
      margin-top: 20px; } }
  .slider__arrow-left {
    position: absolute;
    left: 48px;
    bottom: 66px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    background-image: url(../images/slider/arrow-left.svg);
    background-size: 10px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .slider__arrow-left:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0.5;
      cursor: pointer; }
  .slider__arrow-right {
    position: absolute;
    left: 88px;
    bottom: 66px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    background-image: url(../images/slider/arrow-right.svg);
    background-size: 10px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .slider__arrow-right:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0.5;
      cursor: pointer; }
  .slider__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    left: 144px;
    bottom: 96px; }
    @media screen and (max-width: 440px) {
      .slider__title {
        display: block;
        position: relative;
        text-align: center;
        padding-left: 20px;
        left: 0;
        bottom: 0; } }
  .slider__text {
    width: 264px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 140%;
    position: absolute;
    left: 144px;
    bottom: 48px; }
    @media screen and (max-width: 440px) {
      .slider__text {
        display: block;
        position: relative;
        text-align: center;
        margin: 0 auto;
        left: 0;
        bottom: 0; } }

.aboutus__info {
  display: block;
  max-width: 754px;
  margin: 0 auto;
  margin-top: 148px; }

.aboutus__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #253757; }

.aboutus__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #6c788b;
  margin-bottom: 148px; }

.expertise {
  height: 759px;
  background-color: #fff; }
  .expertise__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    color: #253757;
    text-align: center;
    padding-top: 128px;
    margin-bottom: 64px;
    margin-top: 0; }
  .expertise__grid {
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 177px; }
  .expertise__column {
    display: grid; }
  .expertise__img {
    justify-self: center;
    width: 166px;
    height: 166px;
    border-radius: 12%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .expertise__img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      cursor: pointer; }
  .expertise__sub-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #253757; }
  .expertise__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #6c788b; }

.service__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.service__info {
  display: grid;
  padding-top: 250px; }

.service__sub-title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7;
  padding-bottom: 16px; }

.service__title {
  margin: 0;
  padding-bottom: 24px;
  font-family: "Poppins", sans-serif;
  height: 84px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #253757; }

.service__text {
  height: 105px;
  width: 362px;
  margin: 0;
  padding-bottom: 250px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #6c788b; }

.service__columns {
  display: grid;
  grid-template-columns: repeat(2, 264px);
  grid-template-rows: repeat(2, 264px);
  grid-gap: 30px;
  padding-top: 148px; }

.service__locker {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 264px;
  height: 264px;
  padding-left: 32px;
  padding-top: 32px;
  background: #fff;
  border-radius: 24px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03); }
  .service__locker:hover {
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1); }

.service__locker-title {
  margin: 0;
  width: 46px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase; }

.service__locker-title--1 {
  color: #56ccf2;
  background-color: rgba(86, 204, 242, 0.1);
  border-radius: 23px; }

.service__locker-title--2 {
  color: #fcc91d;
  background-color: rgba(252, 201, 29, 0.1);
  border-radius: 23px; }

.service__locker-title--3 {
  color: #15d850;
  background-color: rgba(21, 216, 80, 0.1);
  border-radius: 23px; }

.service__locker-title--4 {
  color: #f36363;
  background-color: rgba(243, 99, 99, 0.1);
  border-radius: 23px; }

.service__locker-text {
  width: 200px;
  height: 80px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #6c788b;
  padding-top: 24px;
  padding-bottom: 32px; }

.service__locker-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.service__locker-arrow {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }
  .service__locker-arrow:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer; }

.service__arrow-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.service__locker-arrow--1 {
  background-color: #56ccf2; }

.service__locker-arrow--2 {
  background-color: #fcc91d; }

.service__locker-arrow--3 {
  background-color: #15d850; }

.service__locker-arrow--4 {
  background-color: #f36363; }

.service__locker-link {
  margin: auto 16px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #334563; }

.service__locker-link--1:hover {
  color: #56ccf2; }

.service__locker-link--2:hover {
  color: #fcc91d; }

.service__locker-link--3:hover {
  color: #15d850; }

.service__locker-link--4:hover {
  color: #f36363; }

.aproach {
  max-width: 1600px;
  margin: 0 auto; }
  .aproach__clipped {
    position: relative;
    margin-left: 121px;
    border-radius: 200px 0 0 200px;
    background: #ff9c8e;
    height: 976px; }
  .aproach__info {
    padding-top: 204px; }
  .aproach__sub-title {
    padding-left: 204px;
    padding-bottom: 16px;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff; }
  .aproach__title {
    padding-left: 204px;
    padding-bottom: 32px;
    margin: 0;
    width: 362px;
    height: 96px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #fff; }
  .aproach__ul {
    margin: 0;
    padding-left: 204px; }
  .aproach__li {
    width: 263px;
    height: 92px;
    padding-left: 94px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    padding-bottom: 64px; }
  .aproach__li--1 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-1.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px; }
  .aproach__li--2 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-2.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px; }
  .aproach__li--3 {
    list-style: none;
    background-image: url(../images/features/features-item-icon-3.svg);
    background-repeat: no-repeat;
    background-size: 64px;
    background-position: 0 14px; }
  .aproach__image {
    position: absolute;
    bottom: 0;
    left: 793px;
    border-radius: 200px 0 0; }

.people {
  max-width: 1146px;
  margin: 0 auto; }
  .people__sub-title {
    margin: 0;
    padding-top: 148px;
    padding-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .people__title {
    width: 362px;
    height: 96px;
    margin: 0;
    padding-bottom: 85px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #253757; }
  .people__grid {
    display: grid;
    grid-template-columns: repeat(3, 314px);
    grid-template-rows: 494px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-gap: 102px;
    padding-bottom: 168px; }
  .people__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    .people__card:hover {
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.1); }
  .people__rectangle {
    width: 139px;
    height: 56px;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }
    .people__rectangle:nth-child(1) {
      position: absolute;
      top: 81px;
      left: 38px; }
    .people__rectangle:nth-child(3) {
      position: absolute;
      top: 181px;
      left: 138px; }
  .people__rectangle--1 {
    background: #56ccf2; }
  .people__rectangle--2 {
    background: #fcc304; }
  .people__rectangle--3 {
    background: #f25656; }
  .people__image {
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 87px;
    z-index: 2;
    border-radius: 50%; }
  .people__quot {
    padding-top: 82px;
    padding-bottom: 11px; }
  .people__text {
    width: 250px;
    height: 64px;
    margin: 0 auto;
    padding-bottom: 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #6c788b; }
  .people__name {
    margin: 0;
    padding-bottom: 4px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #253757; }
  .people__place {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }

body {
  margin: 0; }

.main {
  background: #f2f9ff; }

a:focus {
  border: 2px solid #ff9c8e;
  border-radius: 4px;
  padding: 4px; }

/*# sourceMappingURL=main.css.map */
